<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @list.keyword %>
</p>

<p>
  <strong>Synonyms:</strong>
  <%= @list.synonyms %>
</p>

<p>
  <strong>Entities:</strong>
  <%= @list.entities %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
