<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @facebookapi.post %>
</p>

<p>
  <strong>Pheduyet:</strong>
  <%= @facebookapi.pheduyet %>
</p>

<%= link_to 'Edit', edit_facebookapi_path(@facebookapi) %> |
<%= link_to 'Back', facebookapis_path %>
