<p id="notice"><%= notice %></p>

<h1>Trainbots</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Intent</th>
      <th>Entity</th>
      <th>Start</th>
      <th>End</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainbots.each do |trainbot| %>
      <tr>
        <td><%= trainbot.message %></td>
        <td><%= trainbot.intent %></td>
        <td><%= trainbot.entity %></td>
        <td><%= trainbot.start %></td>
        <td><%= trainbot.end %></td>
        <td><%= trainbot.body %></td>
        <td><%= link_to 'Show', trainbot %></td>
        <td><%= link_to 'Edit', edit_trainbot_path(trainbot) %></td>
        <td><%= link_to 'Destroy', trainbot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trainbot', new_trainbot_path %>
