<p id="notice"><%= notice %></p>

<h1>Uttrances</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Confidence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uttrances.each do |uttrance| %>
      <tr>
        <td><%= uttrance.message %></td>
        <td><%= uttrance.confidence %></td>
        <td><%= link_to 'Show', uttrance %></td>
        <td><%= link_to 'Edit', edit_uttrance_path(uttrance) %></td>
        <td><%= link_to 'Destroy', uttrance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uttrance', new_uttrance_path %>
